$color-heading: #c28283;
$color-primary: #f9e8eb;
$color-secondary: #476667;

$font-family: sans-serif;
$size-main-header: 72px;
$size-secondary-header: 60px;
$size-main-text: 18px;
$size-secondary-text: 16px;
