@import "variables";
@import "keyframes";
@font-face {
  font-family: "DM_Sans";
  src: url("../FONT/DM_Sans/DMSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1920px;
  text-align: center;
  font: {
    family: "DM_Sans";
    weight: 400;
  }
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 280px;
  display: inline-flex;
}

.container {
  width: 1420px;
  margin: auto;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 60px;
  font-weight: 400;
}

section {
  height: 100%;
}

.btn {
  padding: 15px 25px;
  margin-right: 20px;
  border-radius: 30px;
  inline-size: fit-content;
}
.btn-green {
  background-color: $color-secondary;
  color: $color-primary;
}
.btn-white {
  background-color: $color-primary;
  color: $color-secondary;
}
.btn-red {
  background-color: $color-heading;
  color: $color-primary;
}
.back-to-top {
  color: $color-heading;
  position: fixed;
  font-size: 60px;
  bottom: 0.5%;
  right: 5%;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;

  img {
    margin: 5% auto;
    border: 3px solid $color-secondary;
    border-radius: 0.75%;
    max-height: 75%;
    width: auto;
  }
}

/* HEADER
===========================================================
*/
header {
  background-image: linear-gradient(
      rgba(249, 232, 235, 0.85),
      rgba(249, 232, 235, 0.85)
    ),
    url(../pictures/gallery/galeria-4.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 900px;
  clip-path: circle(3630px at 50% -2750px);
}

.header-container {
  width: 73.95833%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  height: 150px;
  width: 100%;
  position: absolute;
  top: 70px;
  background-color: rgba(255, 255, 255, 0.5);

  & ul li {
    display: inline-flex;
    margin-right: 20px;
    margin-top: 67px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: $color-secondary;
      font-weight: bold;
      transition: 0.2s ease-in-out;
      &:hover {
        color: $color-heading;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

.header-text-box {
  margin-top: 350px;
  margin-left: 100px;
  width: 35%;
  text-align: left;

  & h1 {
    color: $color-secondary;
    font-size: $size-main-header;
    font-weight: 400;
    margin-bottom: 30px;
  }
  & p {
    color: $color-heading;
    line-height: 1.5em;
    margin-bottom: 50px;
  }
}

.header-img-box {
  position: absolute;
  display: inline-block;
  max-width: 550px;
  top: 330px;
  text-align: center;
  img {
    width: 270px;
    height: auto;
    &:nth-child(2) {
      width: 230px;
    }
    &:last-child {
      margin-top: -30px;
    }
  }
}

#nav-cover {
  background: darken($color-primary, 20%);
  background-size: cover;
  opacity: 0.95;
  font-size: 3em;
  line-height: 1.1em;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
  text-align: center;

  li {
    padding: 0.3em 0;
    border-bottom: solid 2px $color-primary;

    &:last-child {
      border-bottom: none;
    }
  }
  a {
    color: $color-secondary;
    transition: 0.2s ease-in-out;
  }
  a:hover,
  a:focus {
    color: $color-primary;
    transition: 0.2s ease-in-out;
  }
}
.nav-icon {
  position: absolute;
  right: 15%;
  top: 40px;
  cursor: pointer;
  color: $color-secondary;
  display: none;
  z-index: 100;

  &:hover,
  &focus {
    color: $color-heading;
  }
  & .fa-times {
    position: fixed;
    right: 15%;
    top: 90px;
  }

  i {
    font-size: 2.5em;
    text-shadow: 1px 2px 1px $color-secondary;
  }
}

/* MAIN CONTENT
===========================================================
*/
.category {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

// About us==================

.about-us {
  & .container {
    position: relative;
    color: $color-secondary;
    text-align: left;
    margin-left: 36.458%;
    width: 33.854167%;
  }
  & h3 {
    color: $color-heading;
    margin-top: 150px;
  }
  & h2 {
    color: $color-heading;
    margin-bottom: 30px;
  }
  & p {
    margin-bottom: 15px;
    line-height: 24px;
  }
  & ul {
    margin-top: 50px;
    color: $color-heading;
    & li {
      vertical-align: middle;
      display: inline-block;
      padding-left: 7%;
      padding-bottom: 20px;
      max-width: 80px;
    }
  }
  & img {
    position: absolute;
    left: 0;
    top: 980px;
    width: 300px;
  }
  & .pattern {
    width: 180px;
    margin-left: 220px;
    margin-top: 260px;
  }
}

// Gallery==============

.gallery {
  text-align: left;
  margin: 200px 0;
  position: relative;

  & .container {
    width: 73.95833%;
    position: relative;
  }

  & h2,
  h3 {
    color: $color-secondary;
  }

  & .next {
    width: 100px;
    position: absolute;
    top: 80px;
    right: 0;
    cursor: pointer;
  }
}
.slider {
  width: 100%;
  position: relative;

  .slider-img {
    position: absolute;
    left: 40%;
    opacity: 0;
    height: 230px;
    width: auto;
    cursor: pointer;
    animation: moveToLeft 0.3s ease-in-out;

    &.active {
      opacity: 1;
      margin: 0 auto;
      animation: moveFromRight 0.3s ease-in-out;
    }
  }
}

// References=============

.reference {
  background-color: $color-secondary;
  text-align: left;
  color: $color-primary;
  height: 800px;
  & .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 130%;
    width: 73.95833%;
  }
  & .heading {
    margin-top: 290px;
    padding-right: 10%;
    & h2 {
      margin-bottom: 50px;
      line-height: 80%;
    }
    & .btn {
      margin-left: 25%;
    }
  }
  & p {
    align-self: center;
    margin-right: 3%;
    &:last-child {
      margin-right: 0;
    }
  }
  & span {
    display: block;
    margin-top: 20px;
  }
}

// Contact============

.contact {
  text-align: left;
  background-color: $color-primary;
  min-height: 800px;
  position: relative;
  & h3,
  h2 {
    color: $color-heading;
  }
  & h3 {
    padding-top: 130px;
  }
  & .container {
    width: 73.95833%;
    padding-left: 100px;
  }
  & .logo {
    position: absolute;
    top: 150px;
    right: 9.8%;
    width: 300px;
  }
  & .pattern {
    position: absolute;
    width: 230px;
    top: 500px;
    right: 5%;
    filter: brightness(0%) invert(100%);
  }
}

form {
  margin: 75px 0;
  color: $color-secondary;
  width: 50%;
}

label {
  display: block;
}

input,
textarea {
  width: 70%;
  color: $color-heading;
  background-color: $color-primary;
  border: none;
  border-bottom: $color-secondary solid 1px;
  padding: 10px;
  margin-bottom: 20px;
  /*& .email,
	& .message {
		display: block;
		width: 200%;
	}*/
}
textarea {
  width: 100%;
  margin-bottom: 40px;
}
/* FOOTER
===========================================================
*/

footer {
  height: 50px;
  color: $color-secondary;
  & p {
    padding-top: 19px;
    text-align: center;
  }
}
